.todo-indicator-text {
	margin-left: 5px;
}

.todo-popup-menu {
	width: 360px;
	padding: 0 10px 0 0;
}

.todo-popup-menu:focus {
	background-color: inherit;
}

.todo-main-box {
	height: auto;
	max-height: 390px;
}

.todo-top-box {
	padding-right: 20px;
}

.todo-entry {
	padding: 10px 15px;
	color: gray;
}

.todo-tabs-box {
	padding: 15px 20px 15px 0;
}

.todo-todos-box {
	padding-right: 20px;
}

.todo-tab-button {
	padding: 5px 10px;
	border-bottom: 2px;
}

.todo-tab-button--active {
	font-weight: bold;
	border-color: rgba(255, 143, 0, 1);
}

.todo-task-item {
	padding: 12px 0;
}

.todo-check-button {
	padding: 6px 7px 6px 0;
}

.todo-delete-button,
.todo-archive-button,
.todo-restore-button {
	margin-left: 5px;
	padding: 6px;
	border-radius: 14px;
}

.todo-delete-button:hover {
	background-color: rgba(198, 40, 40, 0.5);
}

.todo-archive-button:hover {
	background-color: rgba(255, 143, 0, 0.5);
}

.todo-restore-button:hover {
	background-color: rgba(46, 125, 50, 0.5);
}

.todo-tasktext {
	padding: 7px;
	vertical-align: middle;
	border-left-width: 2px;
}

.todo-tasktext:hover {
	border-color: rgba(46, 125, 50, 1);
}

.todo-tasktext--editing {
	border-color: rgba(255, 143, 0, 1);
	background-color: rgba(255, 143, 0, 0.2);
}

.todo-tasktext--editing:hover {
	border-color: rgba(255, 143, 0, 1);
}

.todo-tasktext--done {
	text-decoration: line-through;
}
